# General
.DS_Store
.idea/
.vscode/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
agent/config.json
agent/models/
!agent/models/.keep
agent/data/vector_store.pkl
agent/prompt
agent/screenshot

# Tools
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.cache/
.npm
node_modules/
